.header {
	position: relative;

	&--offcanvas {
		padding: 10px 0;
		border-bottom: 1px solid rgba(get_color(primary), 0.1);
	}

	&--site {
		background: get_color( dark );
		left: 0;
		top: 0;
		position: relative;
		transform: translate3d(0, 0, 0); //This makes it prepared better for slide animation since it's using GPU
		transition: get_transition( 'ease-in-out-quad' );
		width: 100%;
		z-index: 1000;
		padding-top: 0;
		padding-bottom: 24px;

		@include breakpoint(small) {
			padding: 19px 0;
		}

		.category-menu-open & {
			transform: none !important;
		}
	}

	&--sticky {
		position: fixed;
	}

	.wrapper {
		position: relative;
	}

	&__bottom {
		@include breakpoint($to: small) {
			padding-top: 24px;
		}
	}

	&__top {
		background: get_color(dark);
		padding: 12px 0;

		&-columns {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-text {
			color: #fff;
			font-size: 12px;
			margin: 0;
		}

		@include breakpoint(small) {
			display: none;
		}
	}

	&__columns {
		align-items: center;
		flex-wrap: nowrap;
		margin:  0;
	}

	&__col {
		padding: 0;
		&--main-nav {
			display: none;
			flex: 1;

			@include breakpoint( desktop ) {
				display: block;
			}
		}

		&--buttons {
			@include breakpoint($to: desktop) {
				flex: 1 1 15%;
			}
		}

		&--cta {
			text-align: right;
			display: none;

			@include breakpoint(small) {
				display: block;
			}

			@include breakpoint($to: desktop) {
				position: absolute;
				flex: 1 1 15%;
				top: 50%;
				transform: translateY(-50%);
				right: 24px;
			}
		}

		&--branding {

			@include breakpoint($to: desktop) {
				flex: 1 1 69%;
			}
		}

		&--buttons {
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 16px;
			z-index: 100;

			@include breakpoint(desktop) {
				position: relative;
				top: auto;
				transform: none;
				left: auto;
			}

			@include breakpoint( desktop ) {
				display: none;

			}
		}
	}
}