/* Editor styles - any Gutenberg Overwrites */
/* Variables & Mixins. */
@import './../abstracts/variables';
@import './../abstracts/tools';
@import './../blocks/root';
@import './../base/font';
@import './../base/grid';

/* Main column width */
.wp-block {
    max-width: 910px;

    &[data-align="wide"] {
        max-width: 1280px;
    }

    &[data-align="full"] {
        max-width: none;
    }
}

/* Headings/Custom Typography */
@each $tag, $size in $headings {
	.wp-block-am2-heading.is-style-#{$tag},
	.wp-block.#{$tag} {
		font-size: #{$size};
	}
}