/* Editor styles - any Gutenberg Overwrites */
/* Variables & Mixins. */
/**
*
* Variables
*
**/
/**
*
* Breakpoints
* usage : @include breakpoint(desktop);
**/
/**
 * Colors
 **/
/**
*
* Grid
*
**/
/**
*
* Transitions
* usage : transition: get_transition(ease-out-quint)
*
**/
/** Links **/
/*

    @include breakpoint($from, $to, $and);
    You can find a list of breakpoints in the file abstracts/variables/_breakpoints.scss

    Usage:
    a) Min width example
        @include breakpoint(small) {
            color: red;
        }
    b) Range example
        @include breakpoint(small, large) {
            color: red;
        }
    c) Max width example
        @include breakpoint($to: large) {
            color: red;
        }
    d) Min-width with additional properties
        @include breakpoint(small, $and: 'orientation: portrait') {
            color: red;
        }
*/
/**
 * Placeholder Color
 */
:root {
  --am2-primary: #1B1B1B;
  --am2-secondary: #ECBE71;
  --am2-featured: ;
  --am2-grey-100: #F7F7F7;
  /*lint-enable function-comma-space-after */
}

:root .has-primary-color {
  color: #1B1B1B;
}

:root .has-primary-background-color {
  background-color: #1B1B1B;
}

:root .has-secondary-color {
  color: #ECBE71;
}

:root .has-secondary-background-color {
  background-color: #ECBE71;
}

:root .has-danger-color {
  color: #B2153D;
}

:root .has-danger-background-color {
  background-color: #B2153D;
}

:root .has-grey-100-color {
  color: #F7F7F7;
}

:root .has-grey-100-background-color {
  background-color: #F7F7F7;
}

:root .has-grey-200-color {
  color: #6A6A6A;
}

:root .has-grey-200-background-color {
  background-color: #6A6A6A;
}

:root .has-grey-300-color {
  color: #171717;
}

:root .has-grey-300-background-color {
  background-color: #171717;
}

:root .has-dark-color {
  color: #0B0B0B;
}

:root .has-dark-background-color {
  background-color: #0B0B0B;
}

:root .has-light-color {
  color: #fff;
}

:root .has-light-background-color {
  background-color: #fff;
}

:root .has-body_background-color {
  color: #F6F6F6;
}

:root .has-body_background-background-color {
  background-color: #F6F6F6;
}

:root .has-inline-background {
  padding: .10rem .2rem;
  margin: 0 .2rem;
}

:root .has-small-font-size {
  font-size: 14px;
}

:root .has-regular-font-size,
:root .has-normal-font-size {
  font-size: 16px;
}

:root .has-large-font-size {
  font-size: 20px;
}

:root .has-text-align-center {
  text-align: center;
}

:root .has-text-align-left {
  /*rtl:ignore*/
  text-align: left;
}

:root .has-text-align-right {
  /*rtl:ignore*/
  text-align: right;
}

:root .has-text-align-justify {
  /*rtl:ignore*/
  text-align: justify;
}

:root .has-underline {
  text-decoration: underline;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Light.woff2") format("woff2"), url("../fonts/Avenir-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Light-it.woff2") format("woff2"), url("../fonts/Avenir-Light-it.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Book-it.woff2") format("woff2"), url("../fonts/Avenir-Book-it.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Roman-it.woff2") format("woff2"), url("../fonts/Avenir-Roman-it.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Medium-it.woff2") format("woff2"), url("../fonts/Avenir-Medium-it.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Heavy-it.woff2") format("woff2"), url("../fonts/Avenir-Heavy-it.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.wp-block-group__inner-container,
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}

@media (min-width: 640px) {
  .wp-block-group__inner-container,
  .wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 1024px) {
  .wp-block-group__inner-container,
  .wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.wp-block-group__inner-container--full,
.wrapper--full {
  max-width: 1760px;
}

.wp-block-group__inner-container--large,
.wrapper--large {
  max-width: 1472px;
}

.wp-block-group__inner-container--large-v1,
.wrapper--large-v1 {
  max-width: 1244px;
}

.wp-block-group__inner-container--narrow,
.wrapper--narrow {
  max-width: 960px;
}

.wp-block-group__inner-container--content,
.wrapper--content {
  max-width: 1088px;
}

.wp-block-group__inner-container--narrower,
.wrapper--narrower {
  max-width: 810px;
}

.wrapper .wp-block-group__inner-container, .wrapper
.wrapper {
  padding-left: 0;
  padding-right: 0;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.columns:not(:last-of-type) {
  margin-bottom: 15px;
}

.columns .columns {
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 439px) {
  .columns--break-small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columns--break-small > .col {
    max-width: 100%;
  }
}

@media (max-width: 639px) {
  .columns--break-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columns--break-mobile > .col {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .columns--break-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columns--break-tablet > .col {
    max-width: 100%;
  }
}

@media (max-width: 839px) {
  .columns--break-tablet-large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columns--break-tablet-large > .col {
    max-width: 100%;
  }
}

@media (max-width: 1023px) {
  .columns--break-desktop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columns--break-desktop > .col {
    max-width: 100%;
  }
}

@media (max-width: 1419px) {
  .columns--break-large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columns--break-large > .col {
    max-width: 100%;
  }
}

@media (max-width: 1920px) {
  .columns--break-extra-large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columns--break-extra-large > .col {
    max-width: 100%;
  }
}

.col {
  position: relative;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
  width: 100%;
  max-width: 100%;
}

.col--auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: calc((1 / 12) * 100%);
      -ms-flex: calc((1 / 12) * 100%);
          flex: calc((1 / 12) * 100%);
  max-width: calc((1 / 12) * 100%);
}

.col-2 {
  -webkit-box-flex: calc((2 / 12) * 100%);
      -ms-flex: calc((2 / 12) * 100%);
          flex: calc((2 / 12) * 100%);
  max-width: calc((2 / 12) * 100%);
}

.col-3 {
  -webkit-box-flex: calc((3 / 12) * 100%);
      -ms-flex: calc((3 / 12) * 100%);
          flex: calc((3 / 12) * 100%);
  max-width: calc((3 / 12) * 100%);
}

.col-4 {
  -webkit-box-flex: calc((4 / 12) * 100%);
      -ms-flex: calc((4 / 12) * 100%);
          flex: calc((4 / 12) * 100%);
  max-width: calc((4 / 12) * 100%);
}

.col-5 {
  -webkit-box-flex: calc((5 / 12) * 100%);
      -ms-flex: calc((5 / 12) * 100%);
          flex: calc((5 / 12) * 100%);
  max-width: calc((5 / 12) * 100%);
}

.col-6 {
  -webkit-box-flex: calc((6 / 12) * 100%);
      -ms-flex: calc((6 / 12) * 100%);
          flex: calc((6 / 12) * 100%);
  max-width: calc((6 / 12) * 100%);
}

.col-7 {
  -webkit-box-flex: calc((7 / 12) * 100%);
      -ms-flex: calc((7 / 12) * 100%);
          flex: calc((7 / 12) * 100%);
  max-width: calc((7 / 12) * 100%);
}

.col-8 {
  -webkit-box-flex: calc((8 / 12) * 100%);
      -ms-flex: calc((8 / 12) * 100%);
          flex: calc((8 / 12) * 100%);
  max-width: calc((8 / 12) * 100%);
}

.col-9 {
  -webkit-box-flex: calc((9 / 12) * 100%);
      -ms-flex: calc((9 / 12) * 100%);
          flex: calc((9 / 12) * 100%);
  max-width: calc((9 / 12) * 100%);
}

.col-10 {
  -webkit-box-flex: calc((10 / 12) * 100%);
      -ms-flex: calc((10 / 12) * 100%);
          flex: calc((10 / 12) * 100%);
  max-width: calc((10 / 12) * 100%);
}

.col-11 {
  -webkit-box-flex: calc((11 / 12) * 100%);
      -ms-flex: calc((11 / 12) * 100%);
          flex: calc((11 / 12) * 100%);
  max-width: calc((11 / 12) * 100%);
}

.col-12 {
  -webkit-box-flex: calc((12 / 12) * 100%);
      -ms-flex: calc((12 / 12) * 100%);
          flex: calc((12 / 12) * 100%);
  max-width: calc((12 / 12) * 100%);
}

/* Main column width */
.wp-block {
  max-width: 910px;
}

.wp-block[data-align="wide"] {
  max-width: 1280px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

/* Headings/Custom Typography */
.wp-block-am2-heading.is-style-h1,
.wp-block.h1 {
  font-size: 2.66rem;
}

.wp-block-am2-heading.is-style-h2,
.wp-block.h2 {
  font-size: 2rem;
}

.wp-block-am2-heading.is-style-h3,
.wp-block.h3 {
  font-size: 24px;
}

.wp-block-am2-heading.is-style-h4,
.wp-block.h4 {
  font-size: 0.72rem;
}

.wp-block-am2-heading.is-style-h5,
.wp-block.h5 {
  font-size: 0.61rem;
}

.wp-block-am2-heading.is-style-h6,
.wp-block.h6 {
  font-size: 1.25rem;
}
/*# sourceMappingURL=style.css.map */