.page-template-template-gifting {
    background: #171717;

    .gifting-intro {
        padding-bottom: 8rem;

        img {
            margin: $component_margin*2 0 $component_margin*4;
            display: block;
            border-radius: 1.6rem;
            height: auto;
            width: 100%;
            object-fit: cover;
            height: 18.4rem;
            height: 30rem;
            object-fit: none;
            margin-bottom: $component_margin*1.5;

            @include Tablet {
                border-radius: 3.2rem;
            }

            @include PhoneLandscape {
                height: 48rem;
            }

            @include desktop-sm {
                height: auto;
            }

        }
    }

    .gifting-block {
        padding: 4rem 0;
        @include Tablet {
            padding: 8rem 0;
        }
        border-top: 0.1rem solid rgba(#fff,0.1);

        &__image {
            margin-bottom: 2.4rem;

            img {
                height: auto;
                display: inline-block
            }

            &--medium {
                img {
                    max-width: 51rem;
                }
            }

            &--small {

                img {
                    width: 9rem;
                }
            }
        }
    }
}