.page-template-template-gifting {
    background: get_color( 'grey-300' );

    .gifting-intro {
        padding-bottom: 80px;

        img {
            margin: $component_margin*2 0 $component_margin*4;
            display: block;
            border-radius: 16px;
            height: auto;
            width: 100%;
            height: 480px;
            object-fit: cover;

            @include breakpoint(mobile) {
                border-radius: 32px;
            }

            @include breakpoint($to: desktop) {
                height: 300px;
                object-fit: none;
                margin-bottom: $component_margin*1.5;
            }

            @include breakpoint($to: small) {
                height: 184px
            }
        }
    }

    .gifting-block {
        padding: 40px 0;
        @include breakpoint(tablet) {
            padding: 80px 0;
        }
        border-top: 1px solid rgba(#fff,0.1);

        &__image {
            margin-bottom: 24px;

            img {
                height: auto;
                display: inline-block
            }

            &--medium {
                img {
                    max-width: 510px;
                }
            }

            &--small {

                img {
                    width: 90px;
                }
            }
        }
    }
}