.page-template-template-join-us {

    .join-us {

        &-block {

            &--how-we-work {
                position: relative;

                .wrapper {
                    position: relative;
                    z-index: 10;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 26vw;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #0B0B0B;
                    z-index: 1;

                    @include desktop-md {
                        top: 28%;
                    }
                }
            }

            &--diversity {
                position: relative;

                .wrapper {
                    position: relative;
                    z-index: 100;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 26vw;
                    background-color: #0B0B0B;
                    z-index: 1;

                    @include desktop-md {
                       height: 32%;
                    }
                }
            }

            &--posts {
                > .wrapper {
                    border: 0;
                    padding-top: 0;
                    padding-bottom: 0;

                    @include desktop-sm {
                        padding-top: 6rem;
                        border-top: 0.1rem solid rgba(#0B0B0B, 0.1);
                        border-bottom: 0.1rem solid rgba(#0B0B0B, 0.1);
                        padding-bottom: 8rem;
                    }
                }
            }
        }
    }
}