.page-template-template-meet-the-team {
    background: #171717;

    .team {

        &-intro {
            .col {
                width: 100%;
                flex: 100%;
                max-width: 100%;
                padding-left: 0.8rem;
                padding-right: 0.8rem;

                @include Tablet {
                    width: 50%;
                    flex: 50%;
                    max-width: 50%;
                }
                @include desktop-sm {
                    width: 33.33%;
                    flex: 33.33%;
                    max-width: 33.33%;
                }
            }

            .columns {
                margin-left: -0.8rem;
                margin-right: -0.8rem;

                @include desktop-sm {
                    margin-left: -$grid_spacing;
                    margin-right: -$grid_spacing;
                }
            }
        }


        &-text {
            max-width: 93rem;
            margin-left: auto;
            margin-right: auto;
        }

        &__member {
            text-align: left;
            margin-bottom: 1rem;

            @include desktop-sm {
                margin-bottom: 2.6rem;
            }

            &-wrap {
                display: flex;
            }

            &-image {
                border-radius: 2.4rem;
                display: block;
                line-height: 1;
                margin-bottom: 2rem;
                height: auto;
                width: 100%;
            }

            &-name {
                font-weight: 200;
                font-size: 2.4rem;
                line-height: 3.2rem;
                margin-top: $component_margin;
                margin-bottom: 0;
            }

            &-title {
                font-size: 1.8rem;
                line-height: 2.8rem;
                opacity: 0.7;
                font-weight: 200;
                margin-bottom: 0;
            }

            &-interests {
                list-style: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 1rem;

                li {
                    font-size: 1.1rem;
                    line-height: 1.1rem;
                    letter-spacing: 0.1em;
                    font-weight: 200;
                    padding: 0.4rem 0.8rem;
                    margin-bottom: 0.5rem;

                    &:not(:last-child) {
                        margin-right: 0.5rem;
                    }
                }

                &-item {
                    background: rgba(#fff,0.2);
                    border-radius: 2rem;
                    text-transform: uppercase;
                    max-width: 8rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    @include desktop-sm {
                        max-width: none;
                    }
                }
            }

            &-location {
                display: flex;
                align-items: center;

                img {
                    width: 1.6rem;
                    height: 1.6rem;
                    display: block;
                    margin-right: 0.8rem;
                }

                &-location {
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    line-height: 2rem;
                    margin-bottom: 0;
                    opacity: 0.5;
                }
            }
        }
    }

    .modal {

        &__container {
            padding: 0;
            width: 73rem !important;
            border-radius: 1.6rem;
            overflow: hidden;
            max-width: 92%;
        }

        &__title {
            font-size: 1.4rem;
            letter-spacing: 0.15em;
            text-align: center;
            color: #0B0B0B;
            text-transform: uppercase;
            line-height: 1;
        }

        &__header {
            padding: 2.4rem 4rem;
            justify-content: center;
            position: relative;
            border-bottom: 0.1rem solid rgba(#0B0B0B, 0.2);
        }

        &__footer {
            padding: 2.4rem 4rem;
            border-top: 0.1rem solid rgba(#0B0B0B, 0.2);
            text-align: right;
        }

        &__close {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2.8rem;
            padding: 0.5rem;
            color: #6A6A6A;
            line-height: 1;

            &:hover,
            &:active,
            &:focus {
                background: transparent;
                color: #6A6A6A;
                border: 0;
                outline: none;
            }
        }

        &__content {
            max-height: 40rem !important;
            overflow: auto;
            padding: 2.4rem;
            margin:  0;
            color: #0B0B0B;
            padding-bottom: 3rem;

            @include Tablet {
                 padding-bottom: 6rem;
            }
        }

        .team__member {
            padding: 0;

            &-left {
                max-width:50%;
                margin-right: $component_margin*1.5;

                @include Tablet {
                    max-width: 25%;
                }
            }

            &-wrap {
                flex-direction: column;

                @include Tablet {
                    flex-direction: row;
                }
            }

            &-description {
                color: #0B0B0B;
                font-weight: 200;
                font-size: 1.8rem;
                line-height: 2.8rem;
                margin-top: $component_margin/2;

                @include Tablet {
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    margin-top: $component_margin;
                }
            }

            &-name {
                font-size: 2.4rem;
                line-height: 3.2rem;

                @include Tablet {
                    font-size: 3.6rem;
                    line-height: 4.4rem;
                    margin-top: 0.8rem;
                }
            }

            &-title {
                font-weight: 200;
                color: #0B0B0B;
                opacity: 1;
                font-size: 1.8rem;
                line-height: 2.6rem;
                margin-top: 0.4rem;

                @include Tablet {
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    margin-top: 0.8rem;
                }
            }

            &-image {
                margin-bottom: 1rem;

                @include Tablet {
                    margin-bottom: 0;
                }
            }

            &-interests {
                margin-top: 1.6rem;
                margin-bottom: 0.8rem;

                @include Tablet {
                    margin-bottom: 0;
                }

                li {
                    margin-right: 0.8rem;
                    margin-bottom: 0.8rem;
                    max-width: none;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    @include desktop-sm {
                        white-space: normal;
                        overflow: auto;
                    }
                }
            }

            &-interests-item {
                background: rgba(11, 11, 11, 0.1);
            }

        }
    }
}