.page-template-template-meet-the-team {
    background: #171717;


    .team {

        &-intro {
            .col {
                width: 100%;
                flex: 100%;
                max-width: 100%;

                @include breakpoint(small) {
                    width: 50%;
                    flex: 50%;
                    max-width: 50%;
                }
                @include breakpoint(tablet) {
                    width: 33.33%;
                    flex: 33.33%;
                    max-width: 33.33%;
                }

                @include breakpoint(small, desktop) {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }

            .columns {

                @include breakpoint($to: desktop) {
                    margin-left: -8px;
                    margin-right: -8px;
                }
            }
        }


        &-text {
            max-width: 930px;
            margin-left: auto;
            margin-right: auto;
        }

        &__member {
            text-align: left;
            margin-bottom: 10px;

            @include breakpoint(desktop) {
                margin-bottom: 26px;
            }

            &-wrap {
                display: flex;
            }

            &-image {
                border-radius: 24px;
                display: block;
                line-height: 1;
                margin-bottom: 20px;
                height: auto;
                width: 100%;
            }

            &-name {
                font-weight: 200;
                font-size: 24px;
                line-height: 32px;
                margin-top: $component_margin;
                margin-bottom: 0;
            }

            &-title {
                font-size: 18px;
                line-height: 28px;
                opacity: 0.7;
                font-weight: 200;
                margin-bottom: 0;
            }

            &-interests {
                list-style: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 10px;

                li {
                    font-size: 11px;
                    line-height: 11px;
                    letter-spacing: 0.1em;
                    font-weight: 200;
                    padding: 4px 8px;
                    margin-bottom: 5px;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }

                &-item {
                    background: rgba(#fff,0.2);
                    border-radius: 20px;
                    text-transform: uppercase;

                    @include breakpoint(small,desktop) {
                        max-width: 80px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            &-location {
                display: flex;
                align-items: center;

                img {
                    width: 16px;
                    height: 16px;
                    display: block;
                    margin-right: 8px;
                }

                &-location {
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    font-size: 11px;
                    line-height: 20px;
                    margin-bottom: 0;
                    opacity: 0.5;
                }
            }
        }
    }

    .modal {

        &__container {
            padding: 0;
            width: 730px !important;
            border-radius: 16px;
            overflow: hidden;
            max-width: 92%;
        }

        &__title {
            font-size: 14px;
            letter-spacing: 0.15em;
            text-align: center;
            color: #0B0B0B;
            text-transform: uppercase;
            line-height: 1;
        }

        &__header {
            padding: 24px 40px;
            justify-content: center;
            position: relative;
            border-bottom: 1px solid rgba(#0B0B0B, 0.2);
        }

        &__footer {
            padding: 24px 40px;
            border-top: 1px solid rgba(#0B0B0B, 0.2);
            text-align: right;
        }

        &__close {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 28px;
            padding: 5px;
            color: #6A6A6A;
            line-height: 1;

            &:hover,
            &:active,
            &:focus {
                background: transparent;
                color: #6A6A6A;
                border: 0;
                outline: none;
            }
        }

        &__content {
            max-height: 400px !important;
            overflow: auto;
            padding: 24px;
            margin:  0;
            color: #0B0B0B;
            padding-bottom: 60px;

             @include breakpoint($to: tablet) {
                padding-bottom: 30px;
            }
        }

        .team__member {
            padding: 0;

            &-left {
                max-width: 25%;
                margin-right: $component_margin*1.5;

                @include breakpoint($to: tablet) {
                   max-width:50%;
                }
            }

            &-wrap {

                @include breakpoint($to: tablet) {
                    flex-direction: column;
                }
            }

            &-description {
                font-size: 24px;
                color: #0B0B0B;
                font-weight: 200;
                margin-top: $component_margin;

                @include breakpoint($to: tablet) {
                    font-size: 18px;
                    line-height: 28px;
                    margin-top: $component_margin/2;
                }
            }

            &-name {
                font-size: 36px;
                line-height: 44px;

                 @include breakpoint($to: tablet) {
                    font-size: 24px;
                    line-height: 32px;
                    margin-top: 8px;
                }
            }

            &-title {
                font-weight: 200;
                color: #0B0B0B;
                font-size: 24px;
                line-height: 32px;
                opacity: 1;
                margin-top: 8px;

                @include breakpoint($to: tablet) {
                    font-size: 18px;
                    line-height: 26px;
                    margin-top: 4px;
                }
            }

            &-image {

                @include breakpoint($to: tablet) {
                    margin-bottom: 10px;
                }
            }

            &-interests {
                margin-top: 16px;

                @include breakpoint($to: tablet) {
                    margin-bottom: 8px;
                }

                li {
                    margin-right: 8px;
                    margin-bottom: 8px;

                    @include breakpoint(small,desktop) {
                        max-width: none;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            &-interests-item {
                background: rgba(11, 11, 11, 0.1);
            }

        }
    }
}