.page-template-template-our-story {

    .our-story {

        &__intro-left {
            @include desktop-sm {
                padding-right: 2.5rem;
            }
        }

        &__intro-right {
            @include desktop-sm {
                padding-left: 2.5rem;
            }
        }

        &--mission {
            position: relative;
            padding-bottom: 8rem;
            .wrapper {
                    position: relative;
                    z-index: 10;
            }

            &:after {
                content: "";
                position: absolute;
                top: 29vw;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #0B0B0B;
                z-index: 1;

                @include desktop-md {
                    top: 32%;
                }
            }
        }

        &--values {

            .values {
                display: block;
                grid-template-columns: 1fr 1fr;
                padding-top: $component_margin*1.5;
                justify-content: space-between;
                gap: 90px;
                padding-bottom: 4rem;

                @include Tablet {
                    padding-top: $component_margin*2;
                }

                @include desktop-sm {
                    display: grid;
                    padding: $component_margin*4 0 8rem;
                }


                &__image {
                    display: none;

                    @include desktop-sm {
                        display: block;
                    }

                    img {
                        height: auto;
                        margin: 0;
                        height: 70.6rem;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                &__content {
                    flex: 100%;
                    margin: 0 auto;
                    max-width: 508px;

                    &-slider {
                        list-style: none;
                        text-align: left;

                        li {
                            opacity: 0.2;
                            cursor: pointer;

                            &.active {
                                opacity: 1;

                                .values__content-slider-description {
                                    display: block;
                                }
                            }
                            &:not(:last-child) {
                                margin-bottom: $component_margin*2;
                            }
                        }

                        &-title {
                            margin-bottom: $component_margin;
                        }

                        &-description {
                            display: none;
                            padding-top: $component_margin;
                            border-top: 0.1rem solid rgba(#0B0B0B, 0.2);

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }

            }
        }

        &--roots {

            .wrap-content {
                margin-top: -15vw;

                @include desktop-md {
                    margin-top: -25rem;
                }
            }

            .mb-3 {
                margin-bottom: $component_margin*1.5;

                @include desktop-sm {
                    margin-bottom: $component_margin*3;
                }
            }

            p {

                @include desktop-sm {

                    &:not(:last-child) {
                        margin-bottom: $component_margin*3;
                    }
                }
            }
        }

        &--difference {
            position: relative;

            .wrapper {
                position: relative;
                z-index: 10;
            }

            .wrap-content {

                h2,p {
                    display: block;

                    @include Tablet {
                        display: none;
                    }
                }

                h2,p,.big-p {
                    text-align: left;
                }
                @include Tablet {
                    text-align: center;
                }
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 30vw;
                background-color: #0B0B0B;
                z-index: 1;

                @include desktop-md {
                    height: 25%;
                }
            }
        }

        &--banner {


            &-logo {
                display: block;
                width: 40rem;
                max-width: 60%;
                margin: 0 auto $component_margin *2;
            }
        }
    }
}