.menu {
	/* Default Menu CSS - if used without walker */
	list-style: none;
	padding: 0;

	/* Main Navigation */
	&--main-menu {
		& > ul {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
		}

		/* One Menu Item */
		.menu-item {
			position: relative;

			/* Show Dropdown Menu Items on hover */
			&:hover {
				> .menu-item {
					&__dropdown {
						transform: translate3d(0,0,0);
						opacity: 1;
						visibility: visible;
					}
				}
			}

			/* Items that have dropdowns */
			&--has-children {
				.menu-item {
					&__link {
						padding-right: 30px;
					}
				}

				&.menu-item--current-ancestor,
				&.menu-item--current-parent,
				&.menu-item--current-item,
				&:hover {

					&.menu-item--depth-0 {
						&::after {
							border-top-color: get_color( 'primary' );
						}
					}

					&::after {
						border-top-color: white;
					}
				}

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: 10px;
					display: block;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid get_color( 'primary' );
					transform: translateY(-50%);
				}
			}

			/**
			 * Menu Items Depth
			 * -- target with "depth-#" for each menu-item class levels
			 * The one bellow is for "first level" dropdown menu items
			 */
			&--depth-0 { // Bellow this class
				&::after {
					border-top-color: #FFFFFF;
				}

				.menu-item {
					&--has-children {
						&::after {
							transform: rotate(-90deg) translateY(-50%);
						}
					}
				}
			}

			&--depth-1 {
				display: block;
			}

			/* Hover/Active state for Main/Dropdown Menu Item Links and his ancestors */
			&--current-ancestor,
			&--current-item,
			&:hover {
				> .menu-item {
					&__link {
						/* For Main Item Link */
						&--main {
							opacity: 1;
            }

						/* For Dropdown Item Link */
						&--dropdown {
							border-color: get_color( 'primary' );
							background: get_color( 'primary' );
							color: white;
						}
					}
				}
			}

			/* Menu Item Link */
			&__link {
				display: block;
				padding: 0 28px;
				font-weight: 200;
				font-size: 12px;
				letter-spacing: 2px;
				opacity: 0.6;
				transition: get_transition();

				/* Main Menu Item Link */
				&--main {
					color: white;
					text-align: center;
					text-transform: uppercase;
				}

				/* Dropdown Menu Item Link */
				&--dropdown {
					padding: 10px 8px;
					text-align: left;
					border-top: 1px solid lightgray;
				}
			}

			/* Menu Item Dropdown List */
			&__dropdown {
				position: absolute;
				top: 100%;
				left: 0;
				width: auto;
				min-width: 220px;
				opacity: 0;
				visibility: hidden;
				background: white;
				border-top: 3px solid get_color( 'primary' );
				box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
				transform: translateY(15px);
				transform-origin: top center;
				transition: get_transition('ease-in-out-quad');
				z-index: 1030;

				/**
				 * Dropdown Items Depth
				 * -- target with "depth-#" for each dropdown levels
				 * The one bellow is for "second level" dropdown items (0-is for first level dropdown)
				 */
				&--depth-1,
				&--depth-2,
				&--depth-3 {
					top: -3px;
					left: 100%;
					border-top: 0;
					border-left: 3px solid get_color( 'primary' );
					transform: translateX(-15px);
				}

				/* On dropdowns - the menu items are full width, stacked */
				.menu-item {
					width: 100%;
				}
			}
		}
	}
}
