.breadcrumbs {
    padding: 0;
    margin-bottom: $component_margin;

    &__item {
        display: inline-block;
        color: get_color( 'primary' );


        &-icon {
            margin: 0 10px;
            width: 12px;
            height: 12px;
            fill: get_color( 'primary' );
        }
    }
}
