/**
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
button,
.button {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 0.4rem;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	background-image: none;
	border: 0.1rem solid transparent;
	white-space: nowrap;
	font-size: 1rem;
	padding: $component_margin $component_margin*2;
	user-select: none;
	background: #fff;
	color: #0B0B0B;
	border: 0.1rem solid #fff;
	box-shadow: none;
	transition: get_transition( 'ease-in-out-quad' );
	border-radius: 20rem;
	font-weight: 200;

	&:hover,
	&:focus {
		background: rgba(255, 255, 255, 0.8);
		border: 0.1rem solid rgba(255, 255, 255, 0.8);
		color: #0B0B0B;
	}

	&:active {
		background: rgba(255, 255, 255, 0.6);
		border: 0.1rem solid rgba(255, 255, 255, 0.6);
		color: #0B0B0B;
	}

	&:last-child {
		margin-right: 0rem;
	}
}

.button {
	text-transform: capitalize;
	span {
		display: inline-block;
		margin-right: 0.6rem;

		&:last-child {
		margin-right: 0rem;
		}
	}

	&__icon {
		margin-right: 0.6rem;
		width: 1.6rem;
		height: 1.6rem;
		vertical-align: text-top;

		&:last-child {
			margin-right: 0rem;
		}
	}

	&--bordered {
		border-color: rgba(#0B0B0B, 0.4);

		&:focus {
			border-color: rgba(#0B0B0B, 0.4);
		}

		&:hover {
			border-color: rgba(#0B0B0B, 0.6);
			background: transparent;
			color: #0B0B0B;
		}

		&:active{
			border-color: #0B0B0B;
		}
	}

	&--primary {
		background-color: #1B1B1B;
		border-color: #1B1B1B;
		color: #fff;
		border-radius: 20rem;

		&:hover,
		&:focus {
			background: rgba(11, 11, 11, 0.6);
			border: 0.1rem solid rgba(11, 11, 11, 0.6);
			color: #fff;
		}

		&:active {
			background: rgba(11, 11, 11, 1);
			border: 0.1rem solid rgba(11, 11, 11, 1);
			border: 0.1rem solid rgba(11, 11, 11, 1);
		}
	}

	&--small {
		padding: $component_margin/2 2.4rem;
		font-size: 1.4rem;
		min-width: 8rem;
		text-align: center;
	}

	&--large {
		font-size: 1.6rem;
		line-height: 2.4rem;
		padding: $component_margin $component_margin*2;

		@include desktop-sm {
			padding: 2.6rem 4.8rem;
			font-size:1.8rem;
			line-height: 2.8rem;
		}
	}

	&--border {
		border: 0.1rem solid rgba(0, 0, 0, 0.24);
		font-size: 1.4rem;
		line-height: 2.2rem;
		padding: $component_margin $component_margin*2

		&:hover,
		&:active {
			color: #ECBE71;
			border: 0.1rem solid #ECBE71;

			svg {
				transition: get_transition( 'ease-in-out-quad' );
				fill: #ECBE71;
			}
		}

		@include desktop-sm {
			padding: 2.3rem 3.2rem;
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	&--smaller {
		padding: 1rem 2.4rem;
		line-height: 2rem;
		min-width: 8rem;
		font-size: 1.4rem;
		text-align: center;
	}

	&--submit {
		color: white;
		border-radius: 20rem;
		background-color: #0B0B0B;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 1rem;

		&:focus {
			outline: none;
		}

		&:hover {
			color: white;
			background-color: #ECBE71;
		}
	}
}

button:disabled,
.button--disabled {
	opacity: 0.7;
	pointer-events: none;
	box-shadow: none;

	&:hover {
		color: inherit;
		background-color: inherit;
	}
}
