.ctas {
    list-style: none;

    &__item {
        margin-top: $component_margin*2;
        padding-top: $component_margin*2;
        border-top: 1px solid rgba(#fff,0.1);

        &-title {
            font-weight: 200;
            font-size: 20px;
            line-height: 28px;

            @include desktop-sm {
                font-size: 3.6rem;
                line-height: 5.6rem;
            }
            margin-bottom: $component_margin*2;
        }
    }
}