// Pagination
.pagination {
	position: relative;
	padding-left: 0;

	li {
		display: inline-block;
		border-radius: 2px;
		text-align: center;
		vertical-align: top;
		height: 30px;

		a {
			color: get_color(dark);
			display: inline-block;
			font-size: 1.2rem;
			padding: 0 10px;
			line-height: 30px;

			&:hover {
				background: get_color(secondary);
				color: get_color(light_gray);
			}
		}

		&.active a {
			color: #FFFFFF;

			&:hover {
				background: get_color(secondary);
			}
		}

		&.active {
			background-color: get_color(primary);
		}

		&.disabled a {
			cursor: default;
			color: #999999;
		}

		i {
			font-size: 2rem;
		}
	}


	li.pages ul li {
		display: inline-block;
		float: none;
	}

	&__arrow {

		&.disabled {
			pointer-events: none;
			opacity: .5;
		}

		svg {
			width: 30px;
			height: 30px;
			fill: get_color(primary);
		}

		&:hover {
			a {
				background: none;

				svg {
					fill: get_color(secondary);
				}
			}
		}

		& .pagination__arrow--next {
			position: absolute;
			right: 0;
		}
	}

}
