.post-slider {
    position: relative;

    .post-item__image {

        img {
            @media (max-width: 48rem) {
                height: 25.6rem;
                object-fit: cover;
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding: $component_margin*1.5 0;
    }

    &__title {
        margin-bottom: 0;
    }

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__link {
        font-size: 1.8rem;
        line-height: 2.8rem;
        text-decoration: underline;
        color: #0B0B0B;
        white-space: nowrap;
        opacity: 0.6;
        text-transform: capitalize;
        margin-right: 0;
        margin-left: $component_margin;

        @include PhoneLandscape {
            margin-right: $component_margin*2;
        }
    }


    .post-slider-prev,
    .post-slider-next {
        cursor: pointer;
        position: static;
        background: rgba(11, 11, 11, 0.05);
        border: 0.1rem solid #fff;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 0.8rem;
        margin-top: 0;
        transform: none;
        z-index: 500;
        transition: 0.2s ease-in-out;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        @include Tablet {
            display: flex;
        }

        &:after {
            font-size: 1.4rem;
            color: rgba(11, 11, 11, 1);
            position: relative;
            font-weight: bold;
            left: -0.1rem;
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
        }

        &:hover {
            background: rgba(11, 11, 11, 0.6);
        }
    }

    .post-slider-next {
        right: auto;
        left: 8rem;

        @include PhoneLandscape {
            right: 4rem;
            left: auto;
        }

        &:after {
            left: auto;
            right: -0.2rem;
        }
    }
}