.search-form {
	position: relative;
	width: 100%;
	max-width: 54.4rem;
	margin: 0 auto;

	&__input {
		width: 100%;
		border-radius: 20rem;
		border: 0.1rem solid rgba(11, 11, 11, 0.15);
		padding: 1rem 2rem;
		color: #0B0B0B;

		&:focus {
			outline: none;
			border: 0.1rem solid #0B0B0B;
		}

		@include Tablet {
			padding: 1.5rem 2.4rem;
        }
	}

	&__message {
		padding: 2.4rem;
		text-align: left;
		color: #0B0B0B;
	}

	&__suggest {
		position: absolute;
		top: calc( 100% + 8px);
		background: #fff;
		left: 0;
		right: 0;
		box-shadow: 0rem 0.6rem 0.7rem rgba(11, 11, 11, 0.05), 0rem 0.8rem 2.5rem rgba(11, 11, 11, 0.06);
		border-radius: 1.6rem;
		transform: translate3d(0,10px,0);
		opacity: 0;
		transition: 0.1s ease-in-out;

		&.active {
			opacity: 1;
			transform: translate3d(0,0,0);
		}

		&-item {
			display: block;
			padding: 0.8rem 2.4rem;
			text-align: left;
			transition: 0.25s ease-in-out;

			&:first-child {
				padding-top: 2.4rem;
			}

			&:last-child {
				padding-bottom: 2.4rem;
			}

			&:hover {
				background: rgba(#0B0B0B, 0.05);
			}
		}
	}

	&__icon {
		position: absolute;
		right: 1.8rem;
		width: 3rem;
		height: 3rem;
		top: 50%;
    	transform: translateY(-50%);
    	opacity: 0.6;
	}
}