.social {
	display: block;

	.site-offcanvas & {
		margin-bottom: 25px;
		text-align: center;
	}


	&__list {
		display: inline-flex;
		margin: 0 -5px;
		padding: 0px;
		list-style: none;
	}

	&__item {
		flex-basis: 0;
		flex-grow: 1;
		padding: 0 6px;
	}

	&__link {
		display: block;
		transition: 0.25s ease-in-out;

		&:hover {
			svg {
				opacity: 1;
			}
		}

		svg {
			display: block;
			width: 26px;
			height: 26px;
			transition: get_transition( 'ease-in-out-quad' );
			fill: #FFFFFF;
			margin: 5px;
			opacity: 0.5;
		}
	}
}
