/**
 * Tables
 */
.am2-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $component_margin;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	overflow-x: auto;

	&:last-child {
		margin-bottom: 0px;
	}
}

.table {
	width: 100%;
	max-width: 100%;
	border-bottom: 1px solid get_color( 'gray_100');
	border-left: 1px solid get_color( 'gray_100');
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	overflow-x: auto;

	&__head {
		.table__row {
			&:hover {
				background: inherit;
			}
		}
	}

	&__heading {
		vertical-align: middle;
		border-top: 1px solid get_color( 'gray_100');
		border-bottom: 1px solid get_color( 'gray_100');
		border-right: 1px solid get_color( 'gray_100');
		text-align: center;
		padding: 5px 10px;
	}

	&__row {
		&:hover {
			background: get_color( 'gray_100');
		}
	}

	&__cell {
		text-align: left;
		padding: 5px 10px;
		border-top: 1px solid get_color( 'gray_100');
		border-right: 1px solid get_color( 'gray_100');

		&:first-child {
			text-align: left;
		}
	}
}
