.am2-accordion {
	width: 100%;

	&:last-child {
		margin-bottom: 0px;
	}

	&__panel {
		clear: both;
	}

	&__panel-title {
		cursor: pointer;
		padding: 10px;
		font-size: 14px;
		font-weight: bold;
		margin: 0;
		color: get_color(light);
		fill: get_color(light);
		background: get_color(grey_100);
		border-bottom: 1px solid darken(get_color('primary'), 10%);
		transition: get_transition('ease-in-out-quad');

		&:hover {
			background: darken(get_color('primary'), 10%);
		}
	}

	&__toggle-icon {
		top: 4px;
		float: right;
		width: 16px;
		height: 16px;
		transition: get_transition('ease-in-out-quad');
	}

	&__panel-content {
		display: none;
		padding: 10px;
		border: 1px solid transparent;
		border-radius: 0 0 3px 3px;
	}

	&__panel--current {
		.am2-accordion__panel-title {
			background: darken(get_color('primary'), 10%);
		}

		.am2-accordion__toggle-icon {
			top: 0;
			transform: rotate(-180deg);
		}
	}
}
