.google-map {
  height: 0;
  padding-bottom: 100%;

  @include breakpoint( 'mobile' ) {
    padding-bottom: 60%;
  }

  @include breakpoint( 'tablet' ) {
    padding-bottom: 40%;
  }

  @include breakpoint( 'desktop' ) {
    padding-bottom: 30%;
  }

  &__js {
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.am2-map {
  padding: 0;

  &__title {
    padding-top: 50px;
    letter-spacing: normal;
    color: get_color( 'primary' );
  }

  &__columns {
    display: block;
    margin-bottom: 50px;

    @include breakpoint( 'mobile' ) {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  &__col {
    width: 100%;
    line-height: 1.5;
    color: #6c6c6c;

    &--info,
    &--description {
      margin-bottom: 25px;

      @include breakpoint( 'mobile' ) {
        margin-bottom: 0;
      }
    }

    &--info {
      @include breakpoint( 'mobile' ) {
        max-width: 235px;
      }

      @include breakpoint( 'desktop' ) {
        max-width: 315px;
      }
    }
  }
}