// The following selectors have increased specificity (using the :root prefix)
// to assure colors take effect over another base class color, mainly to let
// the colors override the added specificity by link states such as :hover.

:root {
	--am2-primary: #{get_color( 'primary' )};
	--am2-secondary: #{get_color( 'secondary' )};
	--am2-featured: #{get_color( 'featured' )};
	--am2-grey-100: #{get_color( 'grey-100' )};

	@each $label, $color in $colors {
        // Text Color
		.has-#{$label}-color {
			color: #{$color};
		}

        // Background Color
		.has-#{$label}-background-color {
			background-color: #{$color};
		}
	}

	.has-inline-background {
		padding: .10rem .2rem;
		margin: 0 .2rem;
	}

	// Font sizes.
	.has-small-font-size {
		font-size: 14px;
	}

	.has-regular-font-size, // Not used now, kept because of backward compatibility.
	.has-normal-font-size {
		font-size: 16px;
	}

	.has-large-font-size {
		font-size: 20px;
	}

	// Text alignments.
	.has-text-align-center {
		text-align: center;
	}

	.has-text-align-left {
		/*rtl:ignore*/
		text-align: left;
	}

	.has-text-align-right {
		/*rtl:ignore*/
		text-align: right;
	}

	.has-text-align-justify {
		/*rtl:ignore*/
		text-align: justify;
	}

	.has-underline {
		text-decoration: underline;
	}
	/*lint-enable function-comma-space-after */
}