/**
* Variables used in this file from abstracts/_variable.scss
*
$component_margin
get_color(primary)
get_color(gray)
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/

// Tabs
.am2-tabs {
	//margin-bottom: $component_margin;

	&:last-child {
		margin-bottom: 0px;
	}

	&__titles {
		text-decoration: none;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	&__title  {
		float: left;
		cursor: pointer;
		border-right: 1px solid transparent;
		transition: get_transition('ease-in-out-quad');

		&--current {
			.am2-tabs__link {
				background: lighten(get_color( 'grey-100'), 5%);
				border-bottom: 2px solid get_color('primary');
			}
		}
	}

	&__link {
		padding: 10px 20px;
		display: inline-block;
		background: get_color( 'grey-100');
		border-bottom: 2px solid transparent;
		transition: get_transition('ease-in-out-quad');

		&:hover {
			background: lighten(get_color( 'grey-100'), 5%);
			border-bottom: 2px solid get_color('primary');
		}

		&[disabled] {
			cursor: not-allowed;
			background: lighten(get_color( 'grey-100'), 30%);

			&:hover {
				background: inherit;
				border-bottom: 2px solid transparent;
			}
		}
	}

	&__panels {
		width: 100%;
	}

	&__panel {
		display: none;
		padding: 10px;
    transition: get_transition('ease-in-out-quad');

    &--current {
      display: block;
    }
	}

}
