// Light
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Light.woff2') format('woff2'), url('../fonts/Avenir-Light.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Light-it.woff2') format('woff2'), url('../fonts/Avenir-Light-it.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

// Book
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Book.woff2') format('woff2'), url('../fonts/Avenir-Book.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Book-it.woff2') format('woff2'), url('../fonts/Avenir-Book-it.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
// Roman
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Roman.woff2') format('woff2'), url('../fonts/Avenir-Roman.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Roman-it.woff2') format('woff2'), url('../fonts/Avenir-Roman-it.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

// Medium
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Medium.woff2') format('woff2'), url('../fonts/Avenir-Medium.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Medium-it.woff2') format('woff2'), url('../fonts/Avenir-Medium-it.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

// Heavy
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Heavy.woff2') format('woff2'), url('../fonts/Avenir-Heavy.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Heavy-it.woff2') format('woff2'), url('../fonts/Avenir-Heavy-it.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
