.wrapper {
	width: 100%;
	max-width: 128rem;
	margin: 0 auto;
	padding-right: 2.4rem;
	padding-left: 2.4rem;

	@include Tablet {
		padding-right: 4rem;
		padding-left: 4rem;
	}

	@include desktop-sm {
		padding-left: 8rem;
		padding-right: 8rem;
	}

	&--full {
		max-width: 176rem;
	}

	&--contact {
		max-width: 89.4rem;
	}

	&--large {
		max-width: 147.2rem;
	}

	&--large-v1 {
		max-width: 124.4rem;
	}

	&--narrow {
		max-width: $grid_content_narrow;
	}

	&--narrow-v1 {
		max-width: 89rem;
	}
	&--content {
		max-width: 108.8rem;
	}

	&--narrower {
		max-width: 89rem;
	}

	.wrapper & {
		padding-left: 0;
		padding-right: 0;
	}
}

.columns {
	display: flex;
	flex-flow: row wrap;
	margin-left: - $grid_spacing;
	margin-right: - $grid_spacing;

	&:not(:last-of-type) {
		margin-bottom: $grid_spacing;
	}

	.columns & {
		margin-left: - $grid_spacing;
		margin-right: - $grid_spacing;
	}

	&--break-mobile {
		@media (max-width: 640px) {
			flex-direction: column;

			>.col {
				width: 100%;
				flex: 100%;
				max-width: 100%;
			}
		}
	}
	&--break-small {
		@media (max-width: 440px) {
			flex-direction: column;

			>.col {
				width: 100%;
				flex: 100%;
				max-width: 100%;
			}
		}
	}
}

.col {
	position: relative;
    flex-basis: 0;
	flex-grow: 1;
	padding: $grid_spacing;
	width: 100%;
	max-width: 100%;

	&--auto {
		flex: 0 0 auto;
    	width: auto;
	}

	// 12 col grid
	@for $i from 1 through 12 {
		&-#{$i} {
			flex: calc((#{$i} / 12) * 100%);
			max-width: calc((#{$i} / 12) * 100%);
		}
	}
}
