/**
 * Helpers
 */

.text {
    text-rendering: optimizeLegibility;

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--justify {
        text-align: justify;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--lowercase {
        text-transform: lowercase;
    }

    &--capitalize {
        text-transform: capitalize;
    }

    &--thin {
        font-weight: 200;
    }

    &--medium {
        font-weight: 200;
    }

    &--light {
        font-weight: 200;
    }

    &--bold {
        font-weight: 600;
    }

    &--black {
        font-weight: 900;
    }

    &--white {
        color: #fff;
    }

    &--italic {
        font-style: italic;
    }
}

.opacity-7 {
    opacity: 0.7;
}

.img {

    &--rounded {
        border-radius: 1.6rem;
        width: 100%;
        display: block;
        margin-left: auto;
        height: auto;
        margin-right: auto;
        line-height: 1;
        margin-bottom: $component_margin*1.5;

        @include Tablet {
            border-radius: 3.2rem;
        }

        @include Tablet {
            margin-bottom: $component_margin*2;
        }

        @include desktop-sm {
            margin-bottom: $component_margin*4;
        }

    }

    &--full {
        display: block;
        line-height: 1;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $component_margin*1.5;

        @include Tablet {
            margin-bottom: $component_margin*2;
        }

        @include desktop-sm {
            margin-bottom: $component_margin*4;
        }
    }
}

.no-margin {
	margin-right: 0rem;
	margin-left: 0rem;
}

.no-padding {
    padding: 0rem;
}

.overflow-hidden {
    overflow: hidden;
}

.is-relative {
    position: relative;
}

.wrap-900 {
    max-width: 93.6rem;
    margin-left: auto;
    margin-right: auto;
}

.wrap-content {

    @include desktop-sm {
        max-width: 92.8rem;
    }
}
.wrap-content-smaller {

    @include desktop-sm {
        max-width: 90.3rem;
    }
}

.mt {

    &-1 {
        margin-top: $component_margin;
    }

    &-2 {
        margin-top: $component_margin*2;
    }
    &-3 {
        margin-top: $component_margin*3;
    }
    &-4 {
        margin-top: $component_margin*1.5;

        @include Tablet {
            margin-top: $component_margin*2;
        }

        @include desktop-sm {
            margin-top: $component_margin*4;
        }
    }
}

.mb {

    &-0 {
        margin-bottom: 0;
    }

    &-1 {
        margin-bottom: $component_margin;
    }

    &-2 {
        margin-bottom: $component_margin*2;
    }
    &-3 {
        margin-bottom: $component_margin*3;
    }
    &-4 {
        margin-bottom: $component_margin*1.5;

        @include Tablet {
            margin-bottom: $component_margin*2;
        }
        @include desktop-sm {
            margin-bottom: $component_margin*4;
        }

    }
}

.block-spacing {
    padding-top: 4rem;

    @include desktop-sm {
        padding-top: 8rem;
    }
}

.bg-dark {
    background: #0B0B0B;
}

.bg-grey {
    background: #f6f6f6;
}

%bg-shadow {
    box-shadow:(0px 6px 7px rgba(11, 11, 11, 0.05)),(0px 8px 25px rgba(11, 11, 11, 0.06));
}

.custom-list {
    font-size: 1.8rem;
    line-height: 2.8rem;

    @include desktop-sm {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
}