.footer {
    padding: $component_margin * 1.5 0 0;

    @include breakpoint(small) {
        padding: $component_margin * 2.5 0 0;
    }
    @include breakpoint(desktop) {
        padding: $component_margin * 4 0 0;
    }

    &--site {
        color: #ffffff;
        background: get_color(dark);
    }

    .columns {
        margin: 0;

        .col {
            padding: 0;
        }
    }

    &__col {
        @include breakpoint(small, tablet) {
            &--menu {
                max-width: 40%;
            }

            &--subscribe {
                max-width: 60%;
            }
        }
    }

    &__top {
        padding-bottom: $component_margin * 4;

        @include breakpoint($to: small) {
            padding-bottom: 0;
        }

        &-right {
            max-width: 400px;
            margin-left: auto;

            @include breakpoint($to: small) {
                margin: $component_margin * 2 0;
                padding: $component_margin * 2 0;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
        }
    }

    &__bottom {
        @include breakpoint($to: tablet) {
            text-align: center;
        }

        .columns {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding: $component_margin * 2 0;

            @include breakpoint($to: small) {
                border: 0;
                padding-top: 0;
            }

            .col {
                padding: 0;

                @include breakpoint($to: tablet) {
                    padding: $component_margin/40;

                    &:nth-child(1) {
                        order: 3;
                    }

                    &:nth-child(2) {
                        order: 1;
                    }

                    &:nth-child(3) {
                        order: 2;
                    }
                }
            }
        }
    }

    &__social {
        p {
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 0.15em;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 0;
        }

        margin-top: $component_margin * 2;
    }
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.88rem;
}

.subscribe-form {
    position: relative;
    .success,
    .error {
        position: absolute;
        background-color: inherit;
        color: #5ac926;
        left: 28px;
        bottom: -25px;
        transition: all 0.2s ease-out;
        font-weight: 200;
        font-size: 12px;
        line-height: 16px;
    }
    .error {
        color: red;
    }
    button[type="submit"] {
        outline: none;
    }
    &__title {
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-bottom: $component_margin/2;
    }

    &__wrap {
        border: 1px solid #fff;
        border-radius: 200px;
        position: relative;
        margin-top: $component_margin * 1.5;
        opacity: 0.3;
        transition: 0.2s ease-in-out;

        button {
            position: absolute;
            right: 8px;
            top: 7px;
            pointer-events: none;
            z-index: 1;
        }

        label {
            position: absolute;
            padding: 5px 7px;
            background: #1b1b1b;
            line-height: 1;
            transition: 0.2s ease-in-out;
            font-size: 0.88rem;
            top: 17px;
            z-index: 1;
            left: 18px;
        }

        input {
            border: 0;
            width: 100%;
            border-radius: 200px;
            padding: 15px 100px 15px 25px;
            background: transparent;
            box-shadow: none;
            outline: 0;
        }

        &--active {
            opacity: 1;

            label {
                font-size: 0.66rem;
                top: -10px;
                left: 18px;
                pointer-events: all;
            }
            button {
                pointer-events: all;
            }
        }
    }

    &__text {
        opacity: 0.7;
        margin-bottom: $component_margin * 1.5;
    }
}
