.menu--footer-menu {
    @include breakpoint(desktop) {
        max-width: 480px;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-item {
        width: 100%;
        @include breakpoint(tablet) {
            width: 50%;
        }

        &__link {
            font-size: 24px;
            line-height: 2;
            color: rgba(255, 255, 255, 0.5);
            transition: .25s ease-in-out;

            &:hover {
                color: #fff;
            }
        }
    }

    &-2 {

        .menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @include breakpoint(tablet) {
                justify-content: flex-end;
            }
        }

        .menu-item {

            &:not(:first-child) {
                margin-left: $component_margin*2;

                .menu-item__link {
                    position: relative;

                    &:before {
                        content: "";
                        height: 12px;
                        width: 1px;
                        background: rgba(255, 255, 255, 0.1);
                        position: absolute;
                        top: 5px;
                        left: -$component_margin;
                    }
                }
            }

            &__link {
                color: rgba(255, 255, 255, 0.5);
                font-size: 0.88rem;
                transition: .25s ease-in-out;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

}