/**
*
* Variables
*
**/
$grid_spacing: 1.5rem;

/**
 * Colors
 **/

$colors: (
    primary: #1B1B1B,
    secondary: #ECBE71,
    danger: #B2153D, // maybe keep for errors
    grey-100: #F7F7F7,
    grey-200: #6A6A6A,
    grey-300:#171717,
    dark: #0B0B0B,
    light: #fff,
    body_background: #fff,
);

$font_family: 'Avenir', Helvetica, Arial, sans-serif;
$font_size: 1.8rem;
$font_body: 400 1.8rem/2.8rem $font_family;

$headings: (
	"h1": 2.66rem,
	"h2": 2rem,
	"h3": 2.4rem,
	"h4": 0.72rem,
	"h5": 0.61rem,
	"h6": 1.25rem,
)!default;

$mobile_headings: (
	"h1": 2rem,
	"h2": 1.33rem,
	"h3": 0.72rem,
	"h4": 0.61rem,
)!default;

/**
*
* Grid
*
**/

$grid_content: 120rem; //wrapper
$grid_content_narrow: $grid_content * .8;
$grid_margin: 2rem;
$grid_padding: 1.5rem;
$component_margin: 1.6rem;

/** Links **/
$color_link: #0b0b0b;
$color_link_hover: lighten($color_link, 10);
