/**
*
* Breakpoints
* usage : @include breakpoint(desktop);
**/
$grid_spacing: 15px;

$breakpoints: (
    small: 440px,
    mobile: 640px,
    tablet: 768px,
    tablet-large: 840px,
    desktop: 1024px,
    large: 1294px,
    extra-large: 1921px,
) !default;
