$font_family: 'Avenir', Helvetica, Arial, sans-serif;
$font_size: 18px;
$font_body: 400 18px/28px $font_family;

$headings: (
	"h1": 2.66rem,
	"h2": 2rem,
	"h3": 24px,
	"h4": 0.72rem,
	"h5": 0.61rem,
	"h6": 1.25rem,
)!default;

$mobile_headings: (
	"h1": 2rem,
	"h2": 1.33rem,
	"h3": 0.72rem,
	"h4": 0.61rem,
)!default;
