$responsive_menu_open_speed: .3s;
$responsive_menu_width: 100%;
$responsive_menu_background: #3A3A3A;
$responsive_menu_background_hover: darken($responsive_menu_background, 10%);
$responsive_menu_color: #FFFFFF;
$responsive_menu_color_hover: #FFFFFF;
